.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.logo {
  img {
    width: 100px;
  }

  & img:hover {
    cursor: pointer;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;

  h4 {
    color: rgba(0, 0, 0, 0.7);
  }

  & h4:hover {
    cursor: pointer;
  }
}
